<!DOCTYPE html>
<html>
<head>
	<link rel = "stylesheet" type = "text/css" href = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel = "stylesheet" type = "text/css" href = "/stylesheets/landing.css">
	<script src = "https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type = "text/javascript" async></script>
	<link rel = "stylesheet" href = "https://use.fontawesome.com/releases/v5.11.2/css/all.css">
	<link href = "https://fonts.googleapis.com/css2?family=Amaranth&display=swap" rel = "stylesheet">
	<title>Ashtray</title>
</head>
<body>
	<nav class = "navbar navbar-custom">
		<div class = "container-fluid">
			<div class = "navbar-header">
				<button type = "button" class = "navbar-toggle collapsed" data-toggle = "collapse" data-target = "#bs-selfmade" aria-expanded = "false">
					<i class = "fas fa-bars"></i>
				</button>
				<a class = "navbar-brand whitewash" href = "/"><i class = "fab fa-buffer whitewash"></i> Ashtray</a>
			</div>
			<div class = "collapse navbar-collapse" id = "bs-selfmade">
				<ul class = "nav navbar-nav navbar-right">
					<li><a href = "#" class = "whitewash">Register</a></li>
					<li><a href = "#" class = "whitewash">Login</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<ul class = "slideshow">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
	
	<div class = "container-fluid">
		<div class = "row">
			<div class = "col-md-8">
				<div class = "jumbotron">
					<h1>Welcome to Ashtray!</h1>
					<hr>
					<p>Our goal is to provide the students an easy access to study material for competitive exams. Content here is uploaded by other users, thus increasing the available resources.</p>
					<p>Also, people who want to try their hand at writing can try it here and see what kind of reponse they get for their works.</p>
				</div>
			</div>
			
			<div class = "col-md-4">
				<div class = "panel">
					<div class = "panel-heading"><span class = "glyphicon glyphicon-book whitewash" aria-hidden = "true"></span> Study Material</div>
					<div class = "panel-body">We know scouring the net for study material for competitive exams can be exhausting! To make it easier for our fellow students, we try to make study material accessible in one place :)
						<p><a href = "/study" class = "btn btn-info btn-sm">Continue <i class = "fas fa-angle-double-right"></i></a></p>
					</div>
				</div>
				<div class = "panel">
					<div class = "panel-heading"><span class = "glyphicon glyphicon-pencil whitewash" aria-hidden = "true"></span> Upload Written Works</div>
					<div class = "panel-body">Have a story or content in mind that you would like to show the world but, finding it difficult to find a platform? Cheer up! Upload your work here and get feedback from other users and who knows, your work might just become popular!
						<p><a href = "/book" class = "btn btn-info btn-sm">Continue <i class = "fas fa-angle-double-right"></i></a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<script src = "https://code.jquery.com/jquery-2.1.4.js"></script>
	<script src = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>